.graph {
	display: flex;
	width: 100%;
	height: 62%;
}

.properties {
	width: 32%;
	height: 100%;
}
.properties .point {
	display: flex;
}
.properties .label {
	width: 100%;
	text-align: left;
	margin-top: 10px;
}

.preview {
	width: 68%;
	height: 100%;
}