main {
	width: 100vw;
	height: 100vh;
	padding: 25px;
	background: var(--dark);
}

.container {
	display: flex;
	flex-direction: column;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
	.container {
		width: 100%;
	}
}